<% if home_action? %>
    <section id=<%= "score-session-#{score_session.id}" %> class="active-score-session">
<% else %>
    <section id=<%= "score-session-#{score_session.id}" %> class="score-session-section">
<% end %>
    <section class="section-header">
        <%= display_score_session_name(score_session) %>
        <%= display_edit_link(score_session) if show_action? || score_functionality? %>
    </section>

    <section id=<%= "score-session-#{score_session.id}-info" %> class="general-info">
        <%= display_detail("Score Type", score_session.score_session_type) if show_action? %>
        <%= display_detail("Governing Body", score_session.gov_body.name) %>
        <%= display_detail("Location", score_session.full_location) %>
        <%= display_detail("Date(s)", formatted_date_range(score_session.start_date, score_session.end_date)) %>
        <%= display_detail("Rank", get_rank(score_session)) %>
    </section>
    <hr>
    
    <section id=<%= "score-session-#{score_session.id}-rounds" %> class="all-rounds">
        <%= render collection: score_session.rounds, partial: "rounds/round" %>
    </section>
</section>

