<!–– the content for all notes is in FORM_NOTES hash in application_helper.rb ––>

<%= form_for(@score_session) do |score_ses_f| %>
    <%= tag.h2 "Score Session Information", class: "short-bottom-margin" %>

    <section id="form-score-session-section">
        <section class="score-session-form-fields">
            <div class="form-field-group">
                <%= build_form_input(score_ses_f, "text", :name, @score_session, "Enter a score session name", "required") %>
            </div>
            <div class="form-field-group">
                <%= build_form_collection(score_ses_f, "list_items", :score_session_type, @score_session, @score_session_types, @score_session.score_session_type, "required") %>
                <%= build_form_collection(score_ses_f, "models", :gov_body_id, @score_session, @gov_bodies, :id, nil, "required") %>
            </div>
            <div class="form-field-group">
                <%= build_form_input(score_ses_f, "text", :city, @score_session, "City where score session is held", "required") %>
                <%= build_form_input(score_ses_f, "text", :state, @score_session, "State where score session is held", "required") %>
                <%= build_form_input(score_ses_f, "text", :country, @score_session, "Country where score session is held", "required") %>
            </div>
            <div class="form-field-group">
                <%= build_form_input(score_ses_f, "date", :start_date, @score_session, nil, "required") %>
                <%= build_form_input(score_ses_f, "date", :end_date, @score_session) %>
            </div>
            <% if update_functionality? %>
                <div class="form-field-group">
                    <%= build_form_input(score_ses_f, "text", :rank, @score_session, "Your final place for the score session", nil) %>
                </div>
            <% end %>            
        </section>
    </section>
    
    <% if creation_functionality? || (update_functionality? && !@score_session.active) || from_direct_url_entry? %>
        <%= tag.h2 "Add a Round", class: "short-bottom-margin" if creation_functionality? %>
        <%= tag.h2 "Rounds In Score Session", class: "short-bottom-margin" if update_functionality? %>

        <section id=<%= creation_functionality? ? "ss-form-round-section" : "form-round-section" %>>
            <%= score_ses_f.fields_for :rounds do |round_f| %>
                <%= render partial: "rounds/round_form", locals: {round_f: round_f, score_ses_f: score_ses_f} %>
            <% end %>
        </section>
    <% end %>
    
    <section id="form-submit-section" class="add-top-margin">
        <%= score_ses_f.submit %>

        <% binding.pry %>
        
        <% if creation_functionality? %>
            <%= link_to "Cancel", score_sessions_path %>
        <% elsif from_edit? && params[:id] %>
            <%= link_to "Cancel", score_session_path(@score_session) %>
        <% elsif from_score? && params[:id] %>
            <%= link_to "Cancel", score_path(@score_session) %>
        <% else %>
            <%= link_to "Cancel", request.referer.present? ? request.referer : score_sessions_path %>
        <% end %>

        <p>Fields marked with a <%= required_field %> are required.</p>
    </section>
<% end %>
