<!–– the content for all notes is in FORM_NOTES hash in application_helper.rb ––>

<%= form_for(@score_session) do |score_ses_f| %>
    <h2 class="short-bottom-margin">Score Session Information</h2>
    <section id="form-score-session-section">
        <section class="score-session-form-fields">
            <div class="form-field-group">
                <div class="label-field-pair">
                    <div><%= score_ses_f.label :name %><%= required_field %></div>
                    <%= score_ses_f.text_field :name, class: form_input_class(:name), placeholder: "Enter a score session name" %>
                        <%= add_error_or_note(@score_session, :name) %>
                </div>
            </div>

            <div class="form-field-group">
                <div class="label-field-pair">
                    <div><%= score_ses_f.label :score_session_type, "Score Session Type" %><%= required_field %></div>
                    <%= score_ses_f.select :score_session_type, options_for_select(@score_session_types, @score_session.score_session_type), {}, class: form_input_class(:score_session_type) %>
                        <%= add_error_or_note(@score_session, :score_session_type) %>
                </div>
                <div class="label-field-pair">
                    <div><%= score_ses_f.label :gov_body_id, "Governing Body" %><%= required_field %></div>
                    <%= score_ses_f.collection_select :gov_body_id, @gov_bodies, :id, :name, {}, {class: form_input_class(:gov_body_id)} %>
                        <%= add_error_or_note(@score_session, :gov_body_id) %>
                </div>
            </div>
            
            <div class="form-field-group">
                <div class="label-field-pair">
                    <div><%= score_ses_f.label :city %><%= required_field %></div>
                    <%= score_ses_f.text_field :city, class: form_input_class(:city), placeholder: "City where score session is held" %>
                        <%= add_error_or_note(@score_session, :city) %>
                </div>
                <div class="label-field-pair">
                    <div><%= score_ses_f.label :state %><%= required_field %></div>
                    <%= score_ses_f.text_field :state, class: form_input_class(:state), placeholder: "State where score session is held" %>
                        <%= add_error_or_note(@score_session, :state) %>
                </div>
                <div class="label-field-pair">
                    <div><%= score_ses_f.label :country %><%= required_field %></div>
                    <%= score_ses_f.text_field :country, class: form_input_class(:country), placeholder: "Country where score session is held" %>
                        <%= add_error_or_note(@score_session, :country) %>
                </div>
            </div>

            <div class="form-field-group">
                <div class="label-field-pair">
                    <div><%= score_ses_f.label :start_date, "Start Date" %><%= required_field %></div>
                    <%= score_ses_f.date_field :start_date, class: form_input_class(:start_date) %>
                        <%= add_error_or_note(@score_session, :start_date) %>
                </div>
                <div class="label-field-pair">
                    <div><%= score_ses_f.label :end_date, "End Date" %></div>
                    <%= score_ses_f.date_field :end_date, class: form_input_class(:end_date) %>
                        <%= add_error_or_note(@score_session, :end_date) %>
                </div>
            </div>

            <% if edit_action? || update_action? %>
                <div class="form-field-group">
                    <div class="label-field-pair">
                        <div><%= score_ses_f.label :rank %></div>
                        <%= score_ses_f.text_field :rank, class: form_input_class(:rank), placeholder: "Your final place for the score session" %>
                            <%= add_error_or_note(@score_session, :rank) %>
                    </div>
                </div>
            <% end %>            
        </section>
    </section>

    <!–– do not need this first conditional unless score action changes things ––>
    <% # if edit_action? && !from_score?  %>
    <% if new_action? || create_action? || (edit_action? && !from_score?) || (update_action? && !from_score?) || from_direct_url_entry? %>
        <% if new_action? || create_action? %>
            <h2 class="short-bottom-margin">Add a Round</h2>
        <% elsif edit_action? || update_action? %>
            <h2 class="short-bottom-margin">Rounds In Score Session</h2>
        <% end %>

        <section id=<%= (new_action? || create_action?) ? "ss-form-round-section" : "form-round-section" %>>
            <%= score_ses_f.fields_for :rounds do |round_f| %>
                <%= render partial: "rounds/round_form", locals: {round_f: round_f, score_ses_f: score_ses_f} %>
            <% end %>
        </section>
    <% end %>
    
    <%= tag.br if (new_action? || create_action? || from_score?) %>
    
    <section id="form-submit-section">
        <%= score_ses_f.submit %>
        
        <% if from_new? %>
            <%= link_to "Cancel", score_sessions_path %>
        <% elsif from_edit? && params[:id] %>
            <%= link_to "Cancel", score_session_path(@score_session) %>
        <% elsif from_score? && params[:id] %>
            <%= link_to "Cancel", score_path(@score_session) %>
        <% else %>
            <%= link_to "Cancel", request.referer.present? ? request.referer : score_sessions_path %>
        <% end %>

        <p>Fields marked with a <%= required_field %> are required.</p>
    </section>
<% end %>
