<% if home_action? %>
    <section id=<%= "score-session-#{score_session.id}" %> class="active-score-session">
<% else %>
    <section id=<%= "score-session-#{score_session.id}" %> class="score-session-section">
<% end %>
    <section class="section-header">
        <% if home_action? %>
            <h3 class="short-bottom-margin"><%= link_to score_session.name, score_path(score_session) %></h3>
        <% elsif show_action? %>
            <h1 class="short-bottom-margin display-horiz-hl"><%= score_session.name %></h1>
            <%= link_to "Edit", edit_score_session_path(score_session) %>
        <% elsif score_functionality? %>
            <h1 class="short-bottom-margin display-horiz-hl"><%= score_session.name %> (Scoring)</h1>
            <%= link_to "Edit Score Session Details", edit_score_session_path(score_session) %>
        <% else %>
            <h3 class="short-bottom-margin"><%= link_to score_session.name, score_session_path(score_session) %></h3>
        <% end %>
    </section>

    <section id=<%= "score-session-#{score_session.id}-info" %> class="general-info">
        <%= display_detail("Score Type", score_session.score_session_type) if show_action? %>
        <%= display_detail("Governing Body", score_session.gov_body.name) %>
        <%= display_detail("Location", score_session.full_location) %>
        <%= display_detail("Date(s)", formatted_date_range(score_session.start_date, score_session.end_date)) %>
        <%= display_detail("Rank", get_rank(score_session)) %>
    </section>
    <hr>

    <section id=<%= "score-session-#{score_session.id}-rounds" %> class="all-rounds">
        <%= render collection: score_session.rounds, partial: "rounds/round" %>
    </section>
</section>

