<% if show_action? %>
    <h1><%= score_session.name %></h1>
<% elsif edit_action? %>
    <h1 class="short-bottom-margin">Edit <%= score_session.name %></h1>
    <p><%= link_to "Edit Score Session Details", edit_score_session_path(score_session) %></p>
<% elsif score_action? %>
    <h1 class="short-bottom-margin"><%= score_session.name %>(Scoring)</h1>
    <p><%= link_to "Edit Score Session Details", score_path(score_session) %></p>
<% elsif home_action? %>
    <h3 class="short-bottom-margin"><%= link_to score_session.name, score_path(score_session) %></h3>
<% else %>
    <h3 class="short-bottom-margin"><%= link_to score_session.name, score_session_path(score_session) %></h3>
<% end %>

<section id=<%= "score-session-#{score_session.id}" %> class="general-info">
    <% if show_action? || edit_action? %>
        <p>Score Type: <b><%= score_session.score_session_type %></b></p>
    <% end %>
    <p>Governing Body: <b><%= score_session.gov_body.name %></b></p>
    <p>Location: <b><%= score_session.full_location %></b></p>
    <p>Date(s): <b><%= formatted_date_range(score_session.start_date, score_session.end_date) %></b></p>
    <p>Rank: <b><%= get_rank(score_session) %></b></p>
</section>

<hr>

<section id=<%= "score-session-#{score_session.id}-rounds" %> class="all-rounds">
    <%= render collection: score_session.rounds, partial: "rounds/round" %>
</section>

