<h1><%= "#{current_user.first_name}'s Scores" %></h1>

<% if @score_sessions.empty? %>
    <h3>You have not recorded any scores yet.</h3>
    <p>Add a <%= link_to "New Score Session", new_score_session_path %> to get started.</p>
<% else %>
    <% @score_session_types.each do |type|  %>
        <h2><%= type %>s</h2>
        <section id=<%= "score-session-#{type.downcase}" %> class="score-session-section">
            <%= render collection: score_sessions_by_type(@score_sessions, type), partial: "score_session" %>
        </section>
    <% end %>
<% end %>