<%= tag.h1 "Log In" %>

<%= form_tag login_path, id: "login-form", class: "user-form" do %>
    <section class="login-form-fields">
        <%= text_field_tag :username, nil, 
            class: ("login-input-field" if @user.errors[:username].empty?) || ("field_with_errors" if @user.errors[:username].any?), 
            placeholder: (@user.errors[:username].first || @user.username || "Enter your username")
        %>
        <%= text_field_tag :email, nil, 
            class: ("login-input-field" if @user.errors[:email].empty?) || ("field_with_errors" if @user.errors[:email].any?), 
            placeholder: (@user.errors[:email].first || @user.email || "Enter your email")
        %>
        <%= password_field_tag :password, nil, 
            class: ("login-input-field" if @user.errors[:password].empty?) || ("field_with_errors" if @user.errors[:password].any?), 
            placeholder: (@user.errors[:password].first || "Enter your password")
        %>
    </section>

    <section id="form-submit-section">
        <%= submit_tag "Log In" %>
        <p>Or <%= link_to "Sign Up", new_archer_path %> as a new archer.</p>
    </section>
<% end %>
