<section id=<%= "rset-#{rset.id}" %> class="rset-section">
    <section id=<%= "rset-#{rset.id}-info" %> class="rset-info">
        <%= tag.h4 "#{rset.set_end_format.name} - #{rset.distance}", class: "short-bottom-margin" %>
        
        <% # if score_functionality? && (rset.complete? || rset.active) %>
        <% if score_functionality? && rset.active && !rset.previous_rset_active? %>
            <%= form_for rset, url: update_score_rset_path(@score_session) do |rset_f| %>
                <%= rset_f.hidden_field :id %>
                <% assign_rset_errors(rset_f.object) %>

                <%= render partial: "rsets/rset_form", locals: {rset_f: rset_f} %>
            <% end %>
        <% else %>
            <%= display_detail("Date", formatted_date(rset.date)) %>
            <%= display_detail("Rank", get_rank(rset)) %>
        <% end %>

        <%= display_detail("Rank", get_rank(rset)) if score_functionality? && rset.incomplete? %>
        <%= display_detail("Target", rset.target.name) %>
        <%= display_detail("Score", rset.score) %>
        
        <section id=<%= "rset-#{rset.id}-scores" %> class="all-scores">
            <%= render partial: "ends/scores_table", locals: {ends: rset.ends, builder_end: rset.ends.first} %>
        </section>
    </section>
</section>
