<% if !score_action? && !update_score_action? %>
    <h4 class="short-margins"><%= rset_f.object.name %> - <%= rset_f.object.distance %></h4>
<% end %>

<section class="rset-form-fields">
    <div class="form-field-group">
        <div class="label-field-pair">
            <div><%= rset_f.label :date %><%= required_field if rset_f.object.scoring_started? %></div>
            <%= rset_f.date_field :date, class: form_input_class(:date) %>
                <%= add_error_or_note(rset_f.object, :date) %>
        </div>
        <div class="label-field-pair">
            <div><%= rset_f.label :rank %></div>
            <%= rset_f.text_field :rank, class: form_input_class(:rank), placeholder: "Your final place for the set/distance" %>
                <%= add_error_or_note(rset_f.object, :rank) %>
        </div>

        <% if score_action? || update_score_action? %>
            <%= tag.p (rset_f.submit "Update Set/Distance"), class: "display-horiz" %>
        <% end %>
    </div>
</section>