<% if !only_round_update? %>
    <h3 class="short-margins"><%= round_f.object.name %></h3>
<% end %>    

<section class="round-form-fields">
    <% if new_action? || create_action? || !round_f.object.scoring_started? %>
        <div class="form-field-group">
            <div class="label-field-pair">
                <div><%= round_f.label :round_format_id, "Round" %><%= required_field %></div>
                <%= round_f.collection_select :round_format_id, @round_formats, :id, :name, {}, {class: form_input_class(:round_format_id)} if new_action? %>
                <%= round_f.collection_select :round_format_id, @round_formats, :id, :name, {selected: round_f.object.round_format.id}, {class: form_input_class(:round_format_id)} unless new_action? %>
                    <%= add_error_or_note(@score_session, :round_format_id) %>
            </div>
        </div>
    <% end %>

    <div class="form-field-group">
        <div class="label-field-pair">
            <div><%= round_f.label :round_type, "Round Type" %><%= required_field %></div>
            <%= round_f.select :round_type, options_for_select(@round_types, (round_f.object.round_type || @round_types.first) ), {}, class: form_input_class(:round_type) %>
                <%= add_error_or_note(round_f.object, :round_type) %>
        </div>
        <div class="label-field-pair">
            <div><%= round_f.label :score_method, "Score Method" %><%= required_field %></div>
            <%= round_f.select :score_method, options_for_select(@score_methods, (round_f.object.score_method || @score_methods.first) ), {}, class: form_input_class(:score_method) %>
                <%= add_error_or_note(round_f.object, :score_method) %>
        </div>
        <div class="label-field-pair">
            <div><%= round_f.label :division %><%= required_field %></div>
            <%= round_f.collection_select :division, @divisions, :id, :name, {selected: (round_f.object.division ? round_f.object.division.id : @default_division.id) }, {class: form_input_class(:division)} %>
                <%= add_error_or_note(round_f.object, :division) %>
        </div>
        <div class="label-field-pair">
            <div><%= round_f.label :age_class, "Age Class" %><%= required_field %></div>
            <%= round_f.collection_select :age_class, @age_classes, :id, :name, {selected: (round_f.object.age_class ? round_f.object.age_class.id : @default_age_class.id) }, {class: form_input_class(:age_class)} %>
                <%= add_error_or_note(round_f.object, :age_class) %>
        </div>
    </div>

    <% if edit_action? || update_action? %>
        <div class="form-field-group">
            <div class="label-field-pair">
                <div><%= round_f.label :rank %></div>
                <%= round_f.text_field :rank, class: form_input_class(:rank), placeholder: "Your final place for the round" %>
                    <%= add_error_or_note(round_f.object, :rank) %>
            </div>
        </div>
    <% end %>
</section>


<% # if edit_action? || update_action? %>
<% # if score_ses_f && ( (edit_action? && !from_score?) || (update_action? && !from_score?) || !from_direct_url_entry? ) %>
<% # if !from_score? && !from_direct_url_entry?  %>
<% if score_ses_f && !only_round_update? && !new_action? && !create_action? %>
    <h3 class="short-bottom-margin">Sets/Distances In Round</h3>
    <section id="form-rset-section">
        <%= score_ses_f.fields_for :rsets do |rset_f| %>
            <% get_child_error(score_ses_f.object.rsets, rset_f.object, :date) %>
            <% get_child_error(score_ses_f.object.rsets, rset_f.object, :rank) %>
            <%= render partial: "rsets/rset_form", locals: {rset_f: rset_f} %>
        <% end %>
    </section>
<% end %>

