<section id=<%= "round-#{round.id}" %> class="round-section">
    <% if show_action? %>    
        <section class="section-header">
            <%= tag.h3 "#{round.round_format.name} (#{round.round_type})", class: "short-bottom-margin display-horiz-hl" %>
        </section>
    <% end %>
    
    <section id=<%= "round-#{round.id}-info" %> class="round-info" >
        <%= display_detail("Round", round.round_format.name, round.round_type, "parentheses") unless show_action? %>
        <%= display_detail("Category", round.division.name, round.age_class.name) %>
        <%= display_detail("Score", round.score) %>
        <%= display_detail("Rank", get_rank(round)) %>
        <%= display_edit_link(round) if score_functionality? %>
    </section>

    <% if show_action? || score_functionality? %>
        <section id=<%= "round-#{round.id}-rsets" %> class="all-rsets">
            <%= render collection: round.rsets, partial: "rsets/rset" %>
        </section>
    <% end %>

    <% if score_functionality? && round.active && round.complete? && !round.rsets.last.active %>
        <%= form_for round, url: update_score_round_path(@score_session) do |round_f| %>
            <%= round_f.hidden_field :id %>
            <% assign_round_or_rset_errors(round_f.object, :round) %>

            <%= render partial: "rounds/round_form", locals: {round_f: round_f} %>
        <% end %>
    <% end %>
</section>