<section id=<%= "round-#{round.id}" %> class="round-section">
    <% if show_action? %>    
        <section class="section-header">
            <h3 class="display-horiz-hl short-bottom-margin"><%= round.round_format.name %> (<%= round.round_type %>)</h3>
        </section>
    <% end %>
    
    <section id=<%= "round-#{round.id}-info" %> class="round-info" >
        <%= display_detail("Round", round.round_format.name, round.round_type, "parentheses") unless show_action? %>
        <%= display_detail("Category", round.division.name, round.age_class.name) %>
        <%= display_detail("Score", round.score) %>
        <%= display_detail("Rank", get_rank(round)) %>
        <% if score_functionality? %>
            <p class="display-horiz"><%= link_to "Edit Round Details", edit_round_path(round) %></p>
        <% end %>
    </section>

    <% if show_action? || score_functionality? %>
        <section id=<%= "round-#{round.id}-rsets" %> class="all-rsets">
            <%= render collection: round.rsets, partial: "rsets/rset" %>
        </section>
    <% end %>
</section>