<section id=<%= "round-#{round.id}" %> class="round-section">
    <% if show_action? %>    
        <section class="section-header">
            <h3 class="display-horiz-hl short-bottom-margin"><%= round.round_format.name %> (<%= round.round_type %>)</h3>
        </section>
    <% end %>
    
    <section id=<%= "round-#{round.id}-info" %> class="round-info" >
        <% if index_action? || home_action? %>
            <p class="display-horiz">Round: <b><%= round.round_format.name %> (<%= round.round_type %>)</b></p>
        <% end %>
        <p class="display-horiz">Category: <b><%= round.division.name %> <%= round.age_class.name %></b></p>
        <p class="display-horiz">Score: <b><%= round.score %></b></p>
        <p class="display-horiz">Rank: <b><%= get_rank(round) %></b></p>
        <% if score_action? %>
            <p class="display-horiz"><%= link_to "Edit Round Details", edit_round_path(round) %></p>
        <% end %>
    </section>

    <% if show_action? || score_action? %>
        <section id=<%= "round-#{round.id}-rsets" %> class="all-rsets">
            <%= render collection: round.rsets, partial: "rsets/rset" %>
        </section>
    <% end %>
</section>