<section id=<%= "round-#{round.id}" %> class="round-section">
    <% if show_action? %>    
        <section class="section-header">
            <%= tag.h3 "#{round.round_format.name} (#{round.round_type})", class: "short-bottom-margin display-horiz-hl" %>
        </section>
    <% end %>
    
    <section id=<%= "round-#{round.id}-info" %> class="round-info" >
        <%= display_detail("Round", round.round_format.name, round.round_type, "parentheses") unless show_action? %>
        <%= display_detail("Category", round.division.name, round.age_class.name) %>
        <%= display_detail("Score", round.score) %>
        <%= display_detail("Rank", get_rank(round)) %>
        <%= display_edit_link(round) if score_functionality? %>
    </section>

    <% if show_action? || score_functionality? %>
        <section id=<%= "round-#{round.id}-rsets" %> class="all-rsets">
            <%= render collection: round.rsets, partial: "rsets/rset" %>
        </section>
    <% end %>
</section>