<section class= round-form-fields>
    <h3><%= round_f.object.round_format.name %></h3>
    <%= round_f.label :round_type, "Round Type" %><%= required_field %>
    <%= round_f.select :round_type, options_for_select(@round_types), {}, class: form_input_class(:round_type) %>
        <%= error_check(round_f.object, :round_type) %>
        <%= form_note(:round_type) %>

    <%= round_f.label :division, "Division" %><%= required_field %>
    <%= round_f.collection_select :division, @divisions, :id, :name, {}, {class: form_input_class(:division)} %>
        <%= error_check(round_f.object, :division) %>
        <%= form_note(:division) %>

    <%= round_f.label :age_class, "Age Class" %><%= required_field %>
    <%= round_f.collection_select :age_class, @age_classes, :id, :name, {}, {class: form_input_class(:age_class)} %>
        <%= error_check(round_f.object, :age_class) %>
        <%= form_note(:age_class) %>

    <%= round_f.label :rank %>
    <%= round_f.text_field :rank, class: form_input_class(:rank), placeholder: "Enter your final rank for the score session" %>
        <%= error_check(round_f.object, :rank) %>
        <%= form_note(:rank) %>
    
    <h3>Sets/Distances In Round</h3>
    <%= round_f.fields_for :rsets do |rset_f| %>
        <%= render partial: "rsets/rset_form", locals: {rset_f: rset_f} %>
    <% end %>
</section>