<%= tag.h1 @round.name %>

<%= form_for(@round) do |round_f| %>
    <%= render partial: "round_form", locals: {round_f: round_f, score_ses_f: nil} %>
    
    <section id="form-submit-section" class="add-top-margin">
        <%= round_f.submit %>
        <%= display_form_cancel_link(@score_session) %>
        <%= display_required_note %>
    </section>
<% end %>