<!–– the content for all notes is in FORM_NOTES hash in application_helper.rb ––>

<%= form_for(@archer) do |archer_f| %>
    <section class="archer-form-fields">
        <%= tag.h3 "Login Information", class: "short-bottom-margin" %>
        <div class="form-field-group">
            <%= build_form_input(archer_f, "text", :username, @archer, "Enter a username", "required") %>
            <%= build_form_input(archer_f, "email", :email, @archer, "Enter your email", "required") %>
            <%= build_form_input(archer_f, "password", :password, @archer, "Enter a password", "required") %>
        </div>

        <%= tag.h3 "Personal Information", class: "short-bottom-margin" %>
        <div class="form-field-group">
            <%= build_form_input(archer_f, "text", :first_name, @archer, "Enter your first name", "required") %>
            <%= build_form_input(archer_f, "text", :last_name, @archer, "Enter your last name", "required") %>
            <%= build_form_input(archer_f, "date", :birthdate, @archer, nil, "required") %>
            <%= build_form_collection(archer_f, "models", :gender_id, @archer, @genders, :id, @archer.gender.id, "required") %>
        </div>

        <%= tag.h3 "Location Information", class: "short-bottom-margin" %>
        <div class="form-field-group">
            <%= build_form_input(archer_f, "text", :home_city, @archer, "Enter the city you live in") %>
            <%= build_form_input(archer_f, "text", :home_state, @archer, "Enter the state you live in") %>
            <%= build_form_input(archer_f, "text", :home_country, @archer, "Enter the country you live in") %>
        </div>

        <%= tag.h3 "Competition Infomation", class: "remove-bottom-margin" %>
        <%= form_note(:comp_section) %>
        <div class="form-field-group restore-margin">
            <%= build_form_collection(archer_f, "models", :default_division, @archer, @divisions, :name, nil, "required") %>
            <%= build_form_collection(archer_f, "models", :default_age_class, @archer, @age_classes, :name, nil, "required") %>
        </div>
    </section>
    
    <section id="form-submit-section" class="add-top-margin">
        <%= archer_f.submit %>
        <%= link_to "Cancel", archer_path(current_user) if form_type == "edit" %>
        <%= display_required_note %>
    </section>
<% end %>
