
<!–– the content for all notes is in FORM_NOTES hash in application_helper.rb ––>

<%= form_for(@archer) do |f| %>
    <h3>Login Information</h3>
        <%= f.label :username %><%= required_field %>
        <%= f.text_field :username, class: form_input_class(:username), placeholder: "Enter a username" %>
            <%= error_check(@archer, :username) %>
            <%= form_note(:username) %>

        <%= f.label :email %><%= required_field %>
        <%= f.email_field :email, class: form_input_class(:email), placeholder: "Enter your email" %>
            <%= error_check(@archer, :email) %>
            <%= form_note(:email) %>

        <%= f.label :password %><%= required_field %>
        <%= f.password_field :password, class: form_input_class(:password), placeholder: "Enter a password" %>
            <%= error_check(@archer, :password) %>
            <%= form_note(:password) %>

    <h3>Personal Information</h3>
        <%= f.label :first_name, "First Name" %><%= required_field %>
        <%= f.text_field :first_name, class: form_input_class(:first_name), placeholder: "Enter your first name" %>
            <%= error_check(@archer, :first_name) %>
            <%= form_note(:first_name) %>

        <%= f.label :last_name, "Last Name" %><%= required_field %>
        <%= f.text_field :last_name, class: form_input_class(:last_name), placeholder: "Enter your last name" %>
            <%= error_check(@archer, :last_name) %>
            <%= form_note(:last_name) %>

        <%= f.label :birthdate, "Birth Date" %><%= required_field %>
        <%= f.date_field :birthdate, class: form_input_class(:birthdate), placeholder: "Enter your birth date" %>
            <%= error_check(@archer, :birthdate) %>
            <%= form_note(:birthdate) %>
        
        <%= f.label :gender_id %><%= required_field %>
        <%= f.collection_select :gender_id, @genders, :id, :name, {}, {class: form_input_class(:gender_id)} %>
            <%= error_check(@archer, :gender_id) %>
            <%= form_note(:gender_id) %>

    <h3>Location Information</h3>
        <%= f.label :home_city, "Home City" %>
        <%= f.text_field :home_city, class: form_input_class(:home_city), placeholder: "Enter the city you live in" %>
            <%= error_check(@archer, :home_city) %>
            <%= form_note(:home_city) %>

        <%= f.label :home_state, "Home State" %>q
        <%= f.text_field :home_state, class: form_input_class(:home_state), placeholder: "Enter the state you live in" %>
            <%= error_check(@archer, :home_state) %>
            <%= form_note(:home_state) %>

        <%= f.label :home_country, "Home Country" %>
        <%= f.text_field :home_country, class: form_input_class(:home_country), placeholder: "Enter the country you live in" %>
            <%= error_check(@archer, :home_country) %>
            <%= form_note(:home_country) %>

    <h3 class="remove-bottom-margin">Competition Infomation</h3>
        <%= form_note(:comp_section) %>

        <%= f.label :default_division, "Primary Shooting Style" %><%= required_field %>
        <%= f.collection_select :default_division, @divisions, :name, :name, {prompt: "Select a shooting style"}, {class: form_input_class(:default_division)} %>
            <%= error_check(@archer, :default_division) %>
            <%= form_note(:default_division) %>
    
        <%= f.label :default_age_class, "Primary Age Class" %><%= required_field %>
        <%= f.collection_select :default_age_class, @age_classes, :name, :name, {prompt: "Select an age class"}, {class: form_input_class(:default_age_class)} %>
            <%= error_check(@archer, :default_age_class) %>
            <%= form_note(:default_age_class) %>
        
    <br>
    <%= f.submit %>
    <%= link_to "Cancel", archer_path(current_user) if form_type == "edit" %>
    <p>Fields marked with a <span class="red-text">*</span> are required.</p>
<% end %>
