<%= tag.h1 "Welcome #{current_user.first_name}" %>

<section id=<%= "archer-#{current_user.id}" %> class="general-info">
    <%= display_detail("Name", current_user.full_name) %>
    <%= display_detail("Gender", current_user.gender.name) %>
    <%= display_detail("Age", current_user.age) %>
    <%= display_detail("From", current_user.home_country) %>
    <%= display_detail("Default Division", current_user.default_division) %>
    <%= display_detail("Default Age Class", current_user.default_age_class) %>
</section>

<section>
    <% if active_score_session? %>
        <%= tag.h2 "Resume Current Score Session" %>
        <section id=<%= "score-session-#{find_active_score_session.id}" %> class="score-session-section">
            <%= render partial: "score_sessions/score_session", locals: {score_session: find_active_score_session} %>
        </section>
    <% end %>

    <section>
        <%= tag.h2 "Main Stats" %>
        <p>Some cool stat like personal best score</p>
        <p>Some cool stat like average score over time</p>
        <p>Some other cool stat I will think of later</p>
    </section>
    <section>
        <%= tag.h2 "Most Recent Scores" %>
        <div>
            <%= tag.h3 "Tournaments" %>
            <p>Details from most recent tournament</p>
            <p>Details from 2nd most recent tournament</p>
            <p>Details from 3rd most recent tournament</p>
        </div>
        <div>
            <%= tag.h3 "Leagues" %>
            <p>Details from most recent league</p>
            <p>Details from 2nd most recent league</p>
            <p>Details from 3rd most recent league</p>
        <div>
        </div>
            <%= tag.h3 "Competitions" %>
            <p>Details from most recent competition</p>
            <p>Details from 2nd most recent competition</p>
            <p>Details from 3rd most recent competition</p>
        </div>
    </section>
</section>