<%= tag.h1 current_user.full_name %>
<%= display_edit_link(current_user) %>
<br><br><br>

<section id="archer-info">
    <section id="login-info">
        <%= tag.h3 "Login Information" %>
        <%= display_detail("Username", current_user.username) %>
        <%= display_detail("Email", current_user.email) %>
    </section>

    <section id="personal-info">
        <div id="hometown-info">
            <%= tag.h3 "Hometown" %>
            <%= display_detail("City", current_user.home_city) %>
            <%= display_detail("State", current_user.home_state) %>
            <%= display_detail("Country", current_user.home_country) %>
        </div>
        <div id="gender-info">
            <%= tag.h3 "Gender" %>
            <%= display_detail(nil, current_user.gender.name) %>
        </div>
        <div id="age-info">
            <%= tag.h3 "Age" %>
            <%= display_detail("Age", current_user.age) %>
            <%= display_detail("Birthday", formatted_date_long(current_user.birthdate)) %>
        </div>
    </section>

    <section id="category-info">
        <div id="default-divisions">
            <%= tag.h3 "Default Division" %>
            <%= display_detail(nil, current_user.default_division) %>
        </div>
        <div id="default-age-classes">
            <%= tag.h3 "Default Age Class" %>
            <%= display_detail("Eligibility Age", current_user.eligibility_age) %>
            <%= display_detail("Age Class", current_user.default_age_class) %>
        </div>
    </section>
</section>



