<h1><%= current_user.full_name %></h1>
<p><%= link_to "Edit Profile", edit_archer_path(current_user) %><p>
<br>

<section id="archer-info">
    <section id="login-info">
        <h3>Login Information</h3>
        <p><%= current_user.username %></p>
        <p><%= current_user.email %></p>
    </section>

    <section id="personal-info">
        <div id="hometown-info">
            <h3>Hometown</h3>
            <p>City: <%= current_user.home_city %></p>
            <p>State: <%= current_user.home_state %></p>
            <p>Country: <%= current_user.home_country %></p>
        </div>

        <div id="gender-info">
            <h3>Gender</h3>
            <p><%= current_user.gender.name %></p>
        </div>

        <div id="age-info">
            <h3>Age</h3>
            <p>Age: <%= current_user.age %></p>
            <p>Birthday: <%= current_user.birthdate %></p>
        </div>
    </section>

    <section id="category-info">
        <div id="default-divisions">
            <h3>Default Division</h3>
            <p><%= current_user.default_division %></p>
        </div>
        
        <div id="default-age-classes">
            <h3>Default Age Class</h3>
            <p>Eligibility Age: <%= current_user.eligibility_age %></p>
            <p>Age Class: <%= current_user.default_age_class %></p>
        </div>
    </section>
</section>



