<tr id=<%= "end-#{endd.id}" %> class="end-section">
    <th>End <%= endd.number %></th>
    <% endd.shots.each do |shot| %>
        <%= tag.td shot.score_entry, id: "shot-#{shot.id}", class: "shot-score-entry" %>
    <% end  %>
    <td class="spacer"></td>
    <%= tag.td endd.score, class: "end-score" %>
    <td class="spacer"></td>
    <%= tag.td endd.set_score, class: "end-set-score" if endd.set_score %>
</tr>