<%= form_for(endd) do |end_f| %>
    <tr id=<%= "end-#{endd.id}" %> class="end-section">
        <th>End <%= endd.number %></th>
        <% endd.shots.each do |shot| %>
            <%= tag.td shot.score_entry, id: "shot-#{shot.id}", class: "shot-score-entry" %>
        <% end  %>
        <td class="spacer"></td>
        <%= tag.td endd.score, class: "end-score" %>
        <td class="spacer"></td>
        <%= tag.td (end_f.number_field :set_score, class: "set-score-input-field"), class: "end-set-score" if endd.score_method_is_set? %>
        <td class="spacer"></td>
        <%= tag.td (end_f.submit "Save Score", class: "score-submit-button"), class: "score-submit" %>
    </tr>
<% end %>