<table>
    <thead>
        <tr>
            <%= tag.th %>
            <% builder_end.shots.each do |shot| %>
                <%= tag.th shot.number %>
            <% end %>
            <%= tag.th "", class: "spacer" %>
            <%= tag.th "Total" %>
            <%= tag.th "", class: "spacer" %>
            <%= tag.th "Set" if builder_end.score_method_is_set? %>
        </tr>
    </thead>
    <tbody>
        <%= render collection: ends, partial: "ends/endd" %>
    </tbody>
</table>
