<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Archery Score Tracker</title>
	  <meta name="author" content="Mark Stabler">
	  <meta name="description" content="Track all your archery scores and shots, analyze your performance."/>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section id="header-top">
        <h1 id="header-HL"><%= link_to "Archery Score Tracker", root_path %></h1>
        <nav id="user-nav">
          <ul>
            <li><%= link_to "About", about_path %></li>
            <% if current_user %>
              <li><%= link_to "Profile", "#" %></li>
              <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
            <% else %>
              <li><%= link_to "Log In", login_path %></li>
              <li><%= link_to "Sign Up", "#" %></li>
            <% end %>
          </ul>
        </nav>
      </section>
      <% if current_user %>
        <section id="header-bottom">
          <nav id="main-nav">
            <ul>
              <% if current_user.score_sessions.first.active == true %>
                <li><%= link_to "Resume Score Session", "#" %></li>
              <% end %>
              <li><%= link_to "Your Scores", "#" %></li>
              <li><%= link_to "Shot Analysis", "#" %></li>
              <li><%= link_to "New Score Session", "#" %></li>
              <li><%= link_to "Manage Rounds", "#" %></li>
              <li><%= link_to "Manage Targets", "#" %></li>
            </ul>
          </nav>
        </section>
      <% end %>
    </header>
    
    <main>
      <%= yield %>
    </main>

    <footer>
        <p><a href="https://www.markstabler.com" target="_blank">Created by Mark Stabler</a></p>
        <p class="display-horiz fine-print">© Stabler Writing Services, LLC</p>
        <p class="display-horiz fine-print"><a href="https://github.com/marcon29/rails-archery-score-tracker" target="_blank">MIT License & Source Code</a></p>
    </footer>
  </body>
</html>
